@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
body {
  max-width: 61.25rem;
  margin: auto;
  line-height: 1.5;
  align-content: center;
  font-family: 'Balsamiq Sans', cursive;
}
.photo {
  height: 22rem;
  padding-top: 3rem;
}

.intro {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 2rem;
  margin-right: 4.5rem;
}

h1 {
  font-size: 2.5rem;
}
.contacts {
  padding-top: 3rem;
}
.info {
  display: flex;
}
.strategies {
  flex-basis: 28rem;
  margin-left: 7.5rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

.footer {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-around;
  align-items: center;
}
